---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TealBox from '../components/TealBox.astro';
---


<Layout title="Juan P. | Projects">
    <TealBox>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">

            <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
            />
            <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
            />
            <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
            />
            <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
            />
        </div>
    </TealBox>
</Layout>