---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TealBox from '../components/TealBox.astro';
import ProjectCard from '../components/ProjectCard.astro';
---


<Layout title="Juan P. | Projects">
    <TealBox>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 flex justify-center">
            <ProjectCard image='/cellattack_1.gif', title='CellAttack' 
              description='CellAttack is an exciting video game crafted with Unity using C#. Dive into the microscopic world where you take on the role of a bacterium trying to survive the onslaught of formidable bacteriophages '/>
            <ProjectCard image='/cellattack_1.gif', title='CellAttack'/>
        </div>
    </TealBox>
</Layout>