---
import { Icon } from "astro-icon/components"
---
<div class="flex justify-center">
    <div class="m-3">
        <a href="https://www.linkedin.com/in/juanpsama" class="">
            <Icon name="mdi:linkedin" class="text-5xl text-indigo hover:text-black" />
        </a>
    </div>
    <div class="m-3">
        <a href="">
            <Icon name="mdi:instagram" class="text-5xl text-indigo hover:text-black" />
        </a>
    </div>
    <div class="m-3">
        <a href="https://github.com/juanpsama">
            <Icon name="mdi:github" class="text-5xl text-indigo hover:text-black" />
        </a>
    </div>
    
</div>