---
import { Icon } from 'astro-icon/components'
interface Props {
	title: string;
	image: string;
    description ?: string;
}
const { image, title, description} = Astro.props;
---

<div class="rounded-lg shadow-lg bg-stone-50 text-indigo mx-2 ">
    <img class="w-full rounded-t-lg" src={image} alt="Project image">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{title}</div>

      <div class="rounded-full bg-cyan-900 inline-block px-2 py-0.5 text-stone-50 text-xs">Python</div>
      <div class="rounded-full bg-cyan-900 inline-block px-2 py-0.5 text-stone-50 text-xs">Python</div>

      <p class="text-grey-darker text-base leading-normal">{description}</p>
    </div>

    <div class="px-6 py-4 flex justify-center align-bottom ">

        <a class="bg-cyan-900 hover:bg-cyan-950 text-stone-50 font-bold rounded-full mx-2">
            <Icon name="mdi:play" class="text-4xl"/>  
        </a>

        <a class="bg-cyan-900 hover:bg-cyan-950 text-stone-50 font-bold rounded-full mx-2">
          <Icon name="mdi:github" class="text-4xl " />
        </a>
        

    </div>
  </div>
  